.head-banner{
	background: url(../images/back.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.headpart{
    padding: 0;
}
.topheader{
    padding-top: 23px;
    padding-bottom: 20px;
    float: left;
}
.logodiv{
    padding: 0;
}
.headprofileselect{
    padding-top: 0.6em;
    padding-left: 0px;
    padding-right: 0;
}
.sign{
	font-size: 0.8em;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.login:hover,.sign:hover,.login:focus,.sign:focus{
	color: #ff9308;
	cursor:pointer;
    text-decoration: none;
}
/*when profile login in a account*/
.personalprofile{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 0px;
}
.personalprofile:hover,.personalprofile:focus{
    color:#fff;
}
.profiledropdown{
    right: 0;
    left: auto;
    text-align: center;
    border-radius: 7px;
    top: 134%;
}
.profiledropdown li a{
    padding: 19px 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.98em;
}
.profiledropdown li a:hover,.profiledropdown li a:focus{
    background-color: #000;
    color:#fff;
    transition: 0.25s linear;
}
.profiledropdown:before{
    content: "";
    border-bottom: 0.8em solid;
    border-right: 0.7em solid transparent;
    border-left: 0.7em solid transparent;
    position: absolute;
    top: -11px;
    right: 23px;
    color: #fff;
}
.proficon{
    display:inline-block;
}
/*when profile login in a account*/
.selectdropdown {
    margin-top: 27px;
    margin-bottom: 0;
    position: relative;
}
.selectdropdown::after{
    color: #fff;
    content: "\f0dd";
    font-family: FontAwesome;
    position: absolute;
    font-size: 13px;
    cursor: pointer;
    right: 0.8em;
    top: 0.1em;
}
.logo{
    float: left;
    padding-top: 0;
}
.top-dropdown{
    background: transparent;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    border: none;
    border-bottom: 1px solid #fff;
    width: 81%;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-bottom: 0.6em;
    padding-left: 0.5em;
}
.headprofile{
    float: right;
    padding: 0;
}
.top-dropdown option{
    color: #000;
    background: #fff;
    border: 1px solid #fff;
    transition:0.25s linear;
}
.top-dropdown option:checked,
.top-dropdown option:hover {
    box-shadow: 0 0 10px 100px #000 inset;
}
/*START NAVIGATION BAR*/
.navbar {
    position: relative;
    min-height: 0px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navigation-bar{
	background-color: #000;
    border-color: #000;
    border-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.navbar-default {
    background-color: #000;
    border-color: #000;
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
    position: relative;
}
.nav>li>a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    padding:0.7em;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   border-color:#000;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #fff;
    background-color: #1C1C1C;
}
.navbar-nav>li>a:hover+{
    color:#fff;
    background: rgba(0, 0, 0, 0.8);
}
.navbar-nav>li:hover .headernavmenulist,
.navbar-nav>li:focus .headernavmenulist{
    display: block;
}
.headernavmenulist{
    background: rgba(0, 0, 0, 0.9);
    min-width: 100%;
    position: absolute;
    display:none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    z-index: 999;
    padding: 2px;
}
.headernavmenulist>li>a{
    color:#fff;
    text-decoration: none;
    padding: 0.75em;
}
.headernavmenulist>li>ul{
    min-width: 80%;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    left:100%;
    padding: 1em 0em;
    top:5%;
    display: none;text-align: left;

}
.headernavmenulist>li>ul>li{
    list-style-type: none;
    /*padding:0.5em 0.5em;*/
}
.headernavmenulist>li>ul>li a{
    color:#fff;
}
.communitysub li{
    padding: 12px 8px;
    text-align: left;
    list-style-type: none;
}
.communitysub li:hover,
.communitysub li:focus{
   display: block;
    background-color: #000;
}
.headernavmenulist>li:hover .communitysub,
.headernavmenulist>li:focus .communitysub{
    display: block;
}
.communitysub>li>a:hover,
.communitysub>li>a:focus{ 
    text-decoration: none;
 }
 .communitysub>li>:hover,
 .communitysub>li>:focus{
    background-color: #000;
 }
.headernavmenulist>li:hover,
.headernavmenulist>li:focus{
    color:#fff;
    background-color: #000;
}
.headernavmenulist>li{
    list-style-type: none;
    padding: 12px 0;
    text-align: left;
    position: relative;
}

/*END NAVIGATION BAR*/
/*start search nearby*/
.search-nearby{
 	color: #000000;
    padding-left: 1.3em;
    padding-top: 37px;
    font-weight: 400;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.8em;
    padding-bottom: 0.3em;
}
.myfav{
    padding-bottom: 0;
}
.query-div{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 4px;
}
.second-query{
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 0.9em;
    padding-left: 1.5em;
}
.radio-btn{
	padding-top:2%;
	padding-bottom: 2%;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #000000;
}
.locationset a{
    color:#e21325;
    text-decoration: none;
}
.homeform{
    padding-left: 0;
    padding-right: 0;
}
.formdropdown{
    background-color: transparent;
    padding: 12px 20px;
    margin-top: 0%;
    border-radius: 4px;
    color: #aaa;
    border: 1px solid #ccc;
    outline: none;
    position: relative;
    width: 9em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
}
.searchdiv{
    width: 18em;
}
.custom-select:focus{
    border: 1px solid #000;
}
.radselect::after{
    color: #ccc;
    width: 5em;
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    top: 1.9em;
    font-size: 18px;
    cursor: pointer;
    z-index: -1;
    left: 5.5em;
}
.formdropdown :focus{
    border: 1px solid #000;
}
.formdropdown option{
    color:#000;
}
.hometime{
    position: absolute;
    font-size: 20px;
    z-index: -1;
    right: 1em;
    top: 1.7em;
}
.boxinput{
    padding: 11px;
    height: auto;
    margin-right: 0.4em;
    border-radius: 3px;
}
.indexformdiv label{
    padding-left: 0.2em;
}
.location{
    width: 16em;
}
.rightdevide{
    height: 0.8px;
    float: left;
    width: 100%;
    background: #d7d7d7;
    font-size: 1.2em;
    margin-top: 16px;
    margin-bottom: 17px;
}
input[type=text]::placeholder{
	color:#9a9a9a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:12px;
    padding-left: 2px;
}
.btn-default {
    color: #D3D3D3;
    background-color: #fff;
    border-color: #ccc;
    padding: 11px;
}
.facebook,.twitter,.email {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #D3D3D3;
    border-radius: 0px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
input[type=text] #fname location{
	border: 2px solid #000;
}
.homepageform{
    float: left;
    width: 20%;
}
.form-control:focus {
    border-color: #000;
}
/*for checkbox*/
.checkboxes{
	padding-top: 5px;
    padding-left: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    padding-bottom: 33px;
}
.checkboxlist{
    float: left;
    padding-top: 15px;
    padding-left: 1.6em;
}
#check-head{
	margin-left: -1%;
}
.checkbox-list {
    opacity: 0;
    position: absolute;
}
.checkbox-list + span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 0px -4px 0;
    vertical-align: middle;
    background: url(../images/tick-box.png) left top no-repeat;
    cursor: pointer;
}
.checkbox-list:checked +  span {
    background:url(../images/textbox.png) 0px top no-repeat;
}
/*for checkbox*/
/*for radio button*/
input[type="radio"] {
    opacity: 0;
    position: absolute;
}  
input[type="radio"] + span {
   	display: inline-block;
    margin: -2px 0px 0px 0px;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
}
input[type="radio"]:checked + span {
    background:url(../images/radio.png) -6px no-repeat;
    border:2px solid transparent;
 }
.event-btn{
	padding-left:1%;
}
.top-search{
    background-color: #e21325;
    color: #fff;
    border: 2px solid #e21325;
    padding: 11px 24px;
    border-radius: 75px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 9px;
}
.top-search:hover,.top-search:focus{
    background-color: #fff;
    color: #e21325;
    border: 2px solid #e21325; 
    transition:0.25 linear;
    outline: none;     
}
.top-search:focus{
    outline:none
    }
/*for radio button*/
.search{
	background-color: #e21325;
    border: #e21325;
    color: #fff;
    border-radius: 24px;
    width: 10%;
    margin-left: 2%;
    margin-top: 0%;
    box-shadow: 0px 0px 1px 2px #c7c7c7;
    outline: none;
}
.search:focus{
	outline: none;
	color:#fff;
}
.search:hover{
	color:#fff;
	outline: none;
}
.calender{
	position: absolute;
    margin-top: -24%;
    padding-left: 103%;
}
/*end search nearby*/
/*start businesses*/
.businessmain{
    float: left;
    width: 100%;
}
.eventmain{
    float: left;
    width: 100%;
}
.hidelist{
    display: none;
}
.showlist{
    display: block;
}
.devide:nth-child(2){
    border-top: 1px solid #fff;
}
.myfavdiv{
    padding-top: 0;
    float: none;
    display: inline-block;
}
.maindiv{
    padding-top: 20px;
    float: none;
    display: inline-block;
}
.business{
    padding-bottom: 14px;
    padding-left: 0px;
    padding-right: 0px;
}
.left-div{
    padding-right: 0;
    padding-left: 0;
}
.leftcardshadow{
    padding-right: 0;
    padding-left: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    float: left;
    background: #fff;
    margin-bottom: 6px;
}
.business-text{
    font-weight: 500;
    font-family: Verdana, Geneva, sans-serif;
    color: #000000;
    font-size: 1.8em;
    padding-left: 28px;
    margin-bottom: 0;
}
.event-text{
    font-weight: 500;
    font-family: Verdana, Geneva, sans-serif;
    color: #000000;
    font-size: 1.8em;
    padding-left: 26px;
}
.custombox{
    padding: 0;
}
.customdetail{
    width: 100%;
    float: left;
    padding-left: 11px;
    padding-bottom: 11px;
    padding-right: 11px;
    border-radius: 4px;
    margin-bottom: 1.1em;
} 
.rightsidediv{
    padding-right: 0;
}
.customdetailright{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background: #fff;
    float: left;
    padding: 14px;
    width: 100%;
    padding-left: 23px;
    padding-top: 21px;
    border-radius: 4px;
}
.customdetailrightsecond{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background: #fff;
    float: left;
    padding: 14px;
    width: 100%;
    margin-top: 21px;
    padding-left: 23px;
}
.box-detail{
	margin-top: -1%;
    margin-left: -9%;
}
.devide{
    border-top: 1px solid #ccc;
    padding-bottom: 48px;
    padding-top: 48px;
}
.righttextimg{
    padding-left: 0px;
    padding-right: 0px;
}
.rightimg,.righttext{
    padding-left: 0px;
    padding-right: 0px;
}
.head{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin-top:0px;
}
.right-head{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.0em;
    margin-bottom: 5px;
}
.right-head a{
    color:#000;
    text-decoration: none;
}
.right-head a:hover,
.right-head a:focus{
    color: #e21325;
}
.read a{
	color: #ed202e;
    text-decoration: none;
}
.favourite{
	background-color: #e21325;
    border: 2px solid #e21325;
    color: #fff;
    border-radius: 55px;
    margin-top: 0%;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 14px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.favourite:hover,.favourite:focus{
    background-color: #fff;
    color: #e21325;
    outline: none;
    border:2px solid #e21325;
}
.favourite-btn{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
}
.textdetails{
    padding-left: 0;
    padding-right: 25px;
    padding-top: 6px;
}
.divimgs{
   padding-left:0;
}
.text-1{
	font-size: 0.9em;
    padding-top: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.heart-icon{
	color: #ed202e;
}
.socialicon{
    padding: 0;
}
.facebook{
    font-size: 19px;
    background-color: #3B5998;
    color: #fff;
    border-radius: 7%;
}
.facebook:hover{
    background-color: #fff;
    color: #3B5998;
    border: 2px solid #3B5998; 
}
.twitter{
    font-size: 19px;
    background-color: #55ACEE;
    color: #fff;
    border-radius: 7%;
}
.twitter:hover{
    background-color: #fff;
    color: #55ACEE;
    border: 2px solid #55ACEE; 
}
.email{
    font-size: 19px;
    background-color: #fff;
    color: #e21325;
    border-radius: 7%;
}
.email:hover{
    background-color: #e21325;
    color: #ebebeb;
    border: 2px solid #ebebeb; 
}
.icon{
    padding-top: 14px;
}
.view{
	background-color: transparent;
    border: 2px solid #CCC;
    border-radius: 57px;
    padding-bottom: 9%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 29px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 16px 34px;
    outline: none;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.view:hover,.view:focus{
	background-color: #CCC;
	color: #000;
    outline: none;
}
.left-sub-text{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding-top: 6px;
    margin-bottom: 1px;
}
.read{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.08em;
}
.colors a{
	color: #ED202E;
    text-decoration: none;
}
/*end businesses*/
/*right side favourite portion start*/
.right-heading{
	padding-top: 0;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}
.favourites-blog{	
	box-shadow: 1px 6px 49px -6px #ccc;
    margin-top: 3%;
    margin-left: 2%;
    padding-right: 0%;
}
.right-text{
	font-size: 0.8em;
}
.description{
	margin-left: -7%;
}
.text-img{
	margin-left: -7%;
    margin-top: 4%;
    margin-bottom: 11%;
}
.devider-img{
	border: 1px solid #efe4e4;
    width: 80%;
    margin-top: 46%;
    margin-left: 8%;
}
/*right side favourite portion end*/
.footer-details{
	padding-bottom: 3%;
    padding-left: 0;
    padding-right: 0;
}
.footer{
	background-color: #000;
	margin-top:56px;
}
.recent-list{
	padding-left:7%;
	color: #959595;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.left-footer-content{
    padding-top: 6%;
    padding-left: 0;
    padding-right: 0;
}
.sidefooter{
    padding: 0;
}
.footcontain{
    padding: 0;
}
.share{
	color: #959595;
    padding-top: 9.8%;
    padding-left: 14%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.footersocialicongroup{
    width: 2.8em;
    height: 2.8em;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 2em;
    margin-bottom:3px;

}
.footersocialicongroup:hover,.footersocialicongroup:focus{
    background-color: #fff;
    border: 2px solid #fff;
    line-height: 1.8em;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.foot-facebook{
    background-color: #3B5998;
    border: 2px solid #3B5998;
}
.foot-twitter{
    background-color: #55ACEE;
    border: 1px solid #55ACEE;
}
.foot-linkedin {
    background-color: #007BB6;
    border: 1px solid #007BB6;
}
.foot-google-plus{
    background-color: #DD4B39;
    border: 1px solid #DD4B39;
}
.foot-pinterest{
    background-color: #CB2027;
    border: 1px solid #CB2027;
}
.foot-envelop{
    background-color: #fff;
    border: 1px solid #848485;
    color: #e21325;
}
.foot-facebook:hover,.foot-facebook:focus{
    color: #3B5998;
}
.foot-twitter:hover,.foot-twitter:focus{
    color: #55ACEE;
}
.foot-linkedin:hover,.foot-linkedin:focus{
    color: #007BB6;
}
.foot-google-plus:hover,.foot-google-plus:focus{
    color: #DD4B39;
}
.foot-pinterest:hover,.foot-pinterest:focus{
    color: #CB2027;
}
.foot-envelop:hover,.foot-envelop:focus{
    color: #fff;
    background-color: #e21325;
    border:1px solid #e21325;
}
.footer-icon{
	padding-top: 4%;
    padding-left: 4%;
}
.last-text {
	padding-left: 5%;
	font-size: 0.9em;
}
.last-text a{
    color:#6C6C6C;
}
.terms{
	color: #ED202E;
	font-weight: 600;
}
.footer-list li a{
	color:#B81924; 
	font-weight: 600;
	font-size: 1em;
}
.footer-list li a:hover{
    text-decoration: none;
}
.footer-list{
	color:#B81924; 
}
/*end footer*/
/*sign-in page start*/
.head{
	font-size: 1.7em;
}
.head a{
    color: #000;
    text-decoration: none;
}
.head a:hover{
    color: #e21325;
}
.sign-in{
	background-color: #fff;
    border-radius: 17px;
}
.sign-label{
	font-size: 0.8em;
    margin-left: 2%;
    font-family: 'Open Sans', sans-serif;
    color: #252525;
    font-weight: 700;
}
.signinmailpw{
    padding-bottom: 0.7em;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    float: left;
}
.sign-login{
	background-color: #e21325;
    border: 2px solid #e21325;
    color: #fff;
    border-radius: 55px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 1em 0;
    margin-top: 0.8em;
    width: 100%;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.sign-login:hover,
.sign-login:focus{
    background-color: #fff;
    border: 2px solid #e21325;
    color: #e21325;
}
.signindiv{
    padding-bottom: 0.1em;
    padding-top: 1em;
}
.boxes{
	padding-top: 0;
}
.signincheckbox + span{
    width:18px;
    height:18px;
}
.boxes input[type=text]:hover:{
	color:#000;
}
.forget-pw{
	font-size: 0.8em;
    padding-bottom: 3em;
}
.forget-pw a{
	color: #252525;
	text-decoration: underline;
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity:1;
    margin-right: -2%;
    margin-top: 2%;
    outline: none;
}
.account{ 
	font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #252525;
    margin-bottom: 0;
 }
 .account a{
 	color: #252525;
 	text-decoration: underline;
 }
 .remember{
	margin-top: 2%;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    color: #252525;
    font-weight: 700;
 }
.in{
	color:#ed202e;
}
.signincontrol{
    height: auto;
    padding: 0.7em 1em;
    margin-top: 8px;
}
.signincontrol:focus{
    border:1px solid #000;
}
.signinfoot{
    padding-top: 2.5em;
}
.crossbtn{
    border-bottom: 1px solid #fff;
}
.modal {
  text-align: center;
}
.modal-dialog {
  display: inline-block;
  /* text-align: left; */
  vertical-align: middle;
}
.signintextimg{
    display: block;
    padding-top: 2em;
}
.signinformdiv{
    text-align: center;
}
.signinimage{
    display: inline-block;
    padding-top: 2em;
}
.signincheckbox{
    opacity: 0;
    position: absolute;
    height: 16px;
    width: 16px;
    z-index: 1;
}
.signincheckbox + span{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 0px -4px 0;
    vertical-align: middle;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 0;
}
.signincheckbox:checked +  span::after{
    content: '\f00c';
    font-family: FontAwesome;
    color: #e21325;
    font-size: 10px;
    line-height: 12px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    right: 0;
    bottom: 0;
    z-index: 0;
}
/*sign-in page end*/
/*sign-up page start*/
.signup-term{
	color: #ee2f3c;
}
.img-signup{
    padding-top: 6em;
    display: inline-block;
}
.sign-up{
    margin-bottom:3em;
}
.forget{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}
/*sign up page end*/
/*forget password page design start*/
.forgotdiv{
    padding-right: 1em;
    padding-left: 1.2em;
    padding-top: 4em;
    padding-bottom: 5em;
}
.forgetimage{
    padding-bottom: 2em;
    display: inline-block;
}
.forgetimagediv{
    padding-left: 0;
}
.forget a{
    color:#000;
    text-decoration: none;
}
.forgethead{
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.forgetmail{
    padding-bottom: 0.7em;
    padding-left: 0;
    padding-top: 1em;
    padding-right: 3em;
    text-align: left;
}
.forget-form-div{
    padding-top: 2em;
    padding-right: 0;
    text-align: center;
}
.sendlink{
    margin-top: 1em;
}
/*forget password page design end*/
/*start community changed */
.customcommunitydiv{
    padding-top: 54px;
    float: left;
}
.communityrecent-list{
	padding-left:7%;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.community-share {
    color: #FFF;
    padding-top: 9.8%;
    padding-left: 14%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.remember a{
	color: red;
}
.customboxcommunity{
    padding: 0;
}
/*end community changed */
/*logged in page*/
.offertextdiv{
    padding-left: 3.7em;
    padding-top: 2em;
}
.logginoffer{
    color: #000000;
    font-weight: 400;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.8em;
    padding-left: 0.5em;
}
.logfavourite{
    padding-left: 1em;
}
.logmaindiv{
    padding-top: 0;
}
/*llogedinpage*/
/*start shared location page*/
.shareditemdiv{
    padding-bottom:3em;
}
.sharedfirstdiv{
    padding-top: 19px;
}
.shared{
    padding-left: 12px;
}
.sharemaintext{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.9em;
    padding-top: 25px;
    margin: 0;
}
.sharedlocationbtn{
	padding-top: 3%;
    padding-left: 4%;
}
.privatelocation{
	background-color: transparent;
    border: 2px solid #000;
    border-radius: 65px;
    padding: 15px;
    margin-top: 18px;
    float: right;
    padding-top: 11px;
    padding-bottom: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.privatelocation:hover{
    background-color: #000;
    transition: 0.25s linear;
    color:#fff;
}
.sharedmaindiv{
    padding-top: 21px;
    padding-top: 5px;
}
.shareshadowdiv{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    background: #fff;
    padding-top: 45px;
    padding-bottom: 51px;
    margin-top: 11px;
    margin-bottom: 8px;
}
.shareshadowdivright{
    margin-top: 11px;
    margin-bottom: 8px;
    padding-right: 0;
}
.sharegroup{
    padding-left: 0px;
    padding-right: 9px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}
.shareinput{
    padding: 24px;
}
.fldiv{
    padding-left: 0px;
}
.cllist{
    padding-left: 0px;
    list-style-type: none;
    font-size: 1.2em;
}
.cllist li{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.cllist li a{
    text-decoration: none;
}
.clsublist{ 
    padding-left: 0px;
    list-style-type: none; 
    padding-bottom: 19px;
}
.clsublist li a{
    color:#000000;
    font-size:0.8em;
    text-decoration: underline;
}
.clsublist li a:hover{
    color: #EC1625;
}
.clsublist li::before{
    content: "• ";
    color: red;
}
.sharedrightdiv{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background: #fff;
    border-radius: 4px;
}
.locationfirstpara{
    padding-top: 6%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #7d7d7d;
    padding-bottom: 3%;
    padding-left: 7%;
    padding-right: 4%;
    font-size: 1em;
}
.locationfirstpara a{
    color:#e31d2e;
}
.mostfavouritetext{
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-top: 17px;
}
.recentviewtext{
    font-size: 1.2em;
}
.sharedetail{
    margin-bottom: 26px;
}
.shareheadca{
    border-bottom: 3px solid #e31d2e;
    width: 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 2em;
}
.shareheadfl{
    width: 4%;
}
.divca{
    padding-left: 0;
    padding-right: 0;
}
.sharepubliclocation{
    padding: 0;
}
/*end shared location page*/
/*start offer page*/
.offer{
    padding-top: 58px;
    padding-left: 54px;
    padding-right: 54px; 
}
.offertext{
    font-size: 2.2em;
    font-weight: 400;
    font-family: Verdana, Geneva, sans-serif;
}
.offersubtext{
    font-size: 1.05em;
    font-weight: 400;
    font-family: Verdana, Geneva, sans-serif;
}
.offermain{
    padding-top:35px;
    padding-left: 4px;
}
.loadmoreicon{
    color: #e21325;
}
/*end offer page*/
/*favourite page start*/
.favouritesearch{
    padding-top: 32px;
    padding-left: 27px;
    padding-right: 37px;
    float: left;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 14px;
}
.searchboxbtn{
    padding-left: 0px;
    padding-top: 22px;
}
.searchbox{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom:39px;
}
.searchboxinput{
    padding: 22px;
}
.searchbtn{
    padding-left: 0px;
    padding-bottom: 39px;
}
.loaddropdown{
    color: #e21325;
}
/*favourite page end*/
/*profile page design start*/
.profilediv{
    padding-top: 62px;
    padding-bottom: 13px;
    float: none;
    display: inline-block;
}
.profile{
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.profileimgdiv{
    float: none;
    display: inline-block;
}
.profilecard{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background: #fff;
    border-radius: 6px;
}
.personicon{
    float: none;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ccc;
    width: 108px;
    height: 108px;
}
.profilebrowsebtn{
    background-color: #e21325;
    color: #fff;
    border: 2px solid #e21325;
    padding: 10px 33px;
    border-radius: 39px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.profilebrowsebtn:hover,.profilebrowsebtn:focus{
    background-color: #fff;
    color: #e21325 ;
    outline: none;
}
.profilebrowsebtndiv{
    padding-top: 23px;
    padding-bottom: 37px;
}
.profiletop{
    padding-top:5px;
}
.personpic{
    float: right;
    color: #fff;
}
.profileform{
    padding: 3em 2em;
    padding-bottom: 3em;
}
.profilegroup{
    padding-bottom: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.94em;
    margin: auto;
    float: none;
}
.profilegroup label{
    font-weight:600;
}
.picbtn{
    background-color: #fafafa;
    padding-top: 42px;
    border-bottom: 1px solid #ccc;
}
.profileinput{
    padding: 14px;
    background-color: #fafafa;
    height:auto;
}
.saveprofile{
    padding: 1em 0;
    width: 14em;
    background-color: #e21325;
    color: #fff;
    border: 2px solid #e21325;
    padding: 13px 33px;
    border-radius: 39px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.saveprofile:hover,
.saveprofile:focus{
    background-color: #fff;
    color: #e21325;
    border: 2px solid #e21325;  
}
.profilesavebtn{
    padding-top: 9px;
    padding-bottom: 48px;
}
.profilesavebtn{
    padding: 11px;
}
/*profile page design end*/
/*sharedlocation new page start*/
.sharedlocationmaindiv{
    padding-top: 60px;
}
.customleftsharediv{
    padding-top: 24px;
    padding-left: 2em;
}
.customleftsharedivhead{
    font-size: 1.8em;
    padding-left: 10px;
    padding-bottom: 7px;
}
.customsharedbtn{
    padding: 13px 11px;
}
.customleftsharedivsubtext{
    font-size: 1.1em;
    padding-left: 9px;
    padding-bottom: 3px;
}
.shareattendingdiv{
    padding-top: 9px;
}
.attendbtn{
    padding: 13px 30px;
}
.attendtime{
    padding-bottom: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.97em;
    padding-left: 7px;
    padding-top: 3px;
}
.attendaddress{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.97em;
    padding-bottom: 24px;
    padding-left: 7px;
}
.sharenewtextbtndiv{
    margin-bottom: 30px;
}
.startattendtime{
    margin-bottom:0;
    padding-top: 15px;
}
.barname a{
    color: #e21325;
    text-decoration: none;
}
.shareattendicon{
    padding-top: 21px;
    padding-left: 7px;
}
.sharedcontactinfo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-bottom: 6px;
    padding-left: 7px;
}
.bartag{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    padding-top: 137px;
    padding-left: 7px;
}
.whoattending{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 8px;
    padding-left: 7px;
    padding-top: 5px;
}
.attendingmail{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.95em;
    padding-left: 7px;
    margin-bottom: 3px;
}
.attendtimedate{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    padding-left: 7px;
    margin-bottom: 3px;
}
.sharelocationcarousel{
    padding-bottom: 1.5em;
    padding-left: 0;
    padding-right: 3em;
    padding-top: 7em;
}
.decriptiondetail{
    padding-bottom: 41px;
}
.dropseemore {
    padding-top: 12px;
    font-size: 1em;
}
.dropseemore a{
    color: #e21325;
    font-size: 1.1em;
}
.dropseemore a:hover,.dropseemore a:focus{
    text-decoration: none;
}
.eventmoretag{
    padding-top: 35px;
}
#sync1 .item {
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}
#sync2 .item {
  margin: 2px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  margin-top:2px;
}
#sync2 .current .item {
 /*  background: #0c83e7; */
}
.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync1.owl-theme .owl-prev {
  left: 10px;
}
#sync1.owl-theme .owl-next {
  right: 10px;
}
.owl-nav{
}
.owl-prev{
    position: absolute;
    top: 1.9em;
    left: 0;
}
.owl-next{
    position: absolute;
    top: 1.8em;
    right: 0;
}
.owl-theme .owl-nav [class*="owl-"]{
     padding: 10px 7px;
     background: #000;
     opacity:0.6;
}
.owl-theme .owl-nav .disabled[class*="owl-"]:hover {
    background-color: #d82831;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #d82831;
    color: #FFF;
    text-decoration: none;
}
.owl-nav .owl-prev{
    float: left;
}
.owl-next{
    float: right;
}
/*for google map*/
.googlemap{
    width: 100%;
    height: 18.5em;
    padding-top: 5px;
}
.googlemaping{
    padding-top: 2em;
    padding-left: 5px;
    overflow: hidden;
}
/*google map end*/
/*account setting start*/
.accountcard{
    float: left;
    width: 100%;
}
.accountsettingdiv{
    padding-left: 0;
    padding-right: 0;
}
.accountpicform{
    padding-top: 54px;
    padding-bottom: 44px;
    padding-left: 45px;
    padding-right: 34px;
}
.accountpicbtn{
    border: 1px solid #ccc;
    padding-bottom: 23px;
}
.accountgroup{
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    float: none;
    display: inline-block;
    display: inline-block;
    text-align: left;
    padding-bottom: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.94em;
}
.accountgroup label{
    padding-bottom: 8px;
    font-weight: 700;
}
.changepswbtn{
    background-color: #e21325;
    border: 2px solid #e21325;
    color: #fff;
    border-radius: 55px;
    margin-top: 0%;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 12px 36px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.changepswbtn:hover,.changepswbtn:focus{
    background-color: #fff;
    color: #e21325;
    outline: none;
 }
.accountdropdowngroup{
    padding: 0;
    margin-bottom: 5px;
 }
.accountdropddwnclass{
    padding: 0;
    margin-bottom: 5px;
 }
.accountdropdwn{
    background-color: #fff;
    border: 1px solid #ccc;
    padding-top: 14px;
    padding-bottom: 14px; 
    width: 9em;
    text-align: left;
 }
 .accountdropdwn a{
    color: #000;
    text-decoration: none;
 }
.accountnotification{
    padding: 0;
    padding-top: 21px;
}
.emailnotification{
    padding: 0;
}
.toggleswitch{
    padding: 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 31px;
    float: right;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
  background-color: #e21325;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.accountradiobtn{
    border: 1px solid #ccc;
    padding: 16px 16px;
    background-color: #fbfbfb;
}
.switchnotification{
    padding-bottom:10px;
}
.accountradiobtngroup{
    padding: 0;
}
.accountsettingbtndiv{
    padding-top: 36px;
}
.accntsavebtn{
    padding: 13px 73px;
}
.accountsettingarrow-city{
    padding-left:4.5em;
}
.accountsettingarrow-state{
    padding-left:4em;
}
.accountsettingarrow-country{
    padding-left:2.8em;
}
/*account setting end*/
/*create event start*/
.tagdropdown{
    padding: 1.2em 1em !important;
    height: auto !important;
}
.select2-container--default .select2-selection--multiple{
    padding: 0.6em 1.2em;
}
.createeventcostdiv{
    padding-left: 0;
    padding-right: 0.2em;
    z-index: 0;
}
.createeventdiscountdiv{
    padding-left: 0.4em;
    padding-right: 0;
    z-index: 0;
}
.createeventsectiondiv{
    padding: 0;
}
.createeventgroup{
    display:inline-block;
    text-align: left;
    font-size: 1em;
    padding-bottom: 31px;
    height:auto;
}
.createeventtextarea{
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
}
.timepick{
    position: absolute;
    top: 57%;
    font-size: 14px;
    left: 6%;
    z-index: -1;
}
.datetimedown{
    position: absolute;
    top: 57%;
    left: 87%;
    z-index: -1;
}
.createcalender{
    position: absolute;
    left: 4%;
    top: 54%;
    z-index: -1;
}
.dates{
   z-index: 99;
}
.times{
    z-index: 99;
}
.createeventdropdown{
    width: 12em;
}
.createeventdate{
    float: right;
    display: inline-block;
    text-align: left;
    font-size: 1em;
    font-weight: 600;
}
.createeventdate a{
    color: #e21325;
    text-decoration: underline;
}
.browsebtn{
    border-radius: 24px;
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
    padding: 8px 12px;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 2px;
}
.browsebtn:hover,.browsebtn:focus{
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
}
.createeventinput{
    height: auto;
    padding: 0.9em 1em;
    background: transparent;
}
.createeventcity{
    padding-left: 7.8em;
}
.upload-file-container {
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
    min-height: 43px;
    border-radius: 4px;
    padding: 1px 1px;
}
.upload-file-container:focus{
    border:1px solid #000;
}
.eventbrowsefile{
    margin: 0;
    opacity: 0;
    top: 0.2em;
    position: absolute;
    z-index: 99;
    width: 5.5em;
    height: 2.9em;
}
.createventcheckboxes{
    padding-bottom: 0;
    font-size: 1em;
    padding: 0;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 4px;
    padding-left: 0;
}
.createeventgroup label{
    padding-left:0.4em;
}
.createeventgooglemap{
    padding-top: 0;
}
.citydropdown{
    border: 1px solid #ccc;
    padding: 0.9em 2em;
    background: transparent;
    border-radius: 4px;
    padding-left: 1em;
    outline: none;
    border: 1px solid #ccc;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 94%;
}
.stateblock{
    border: 1px solid #ccc;
    padding: 0.9em 2em;
    background: transparent;
    border-radius: 4px;
    padding-left: 1em;
    outline: none;
    border: 1px solid #ccc;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 94%;
}
.stateselect:after{
    color: #ccc;
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    top: 1.8em;
    font-size: 19px;
    cursor: pointer;
    right: 01em;
    background-color: #fff;
    padding-left: 0.5em;
    padding-right: 0;
}
.citydropdown:focus{
    border: 1px solid #000;
}
.select::after{
    color: #ccc;
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    top: 1.8em;
    font-size: 19px;
    cursor: pointer;
    right: 01em;
    background-color: #fff;
    padding-left: 0.5em;
    padding-right: 0;
}
.select::after:hover{
    color:red;
}
.categorydropdown{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1.2em 1em;
    position: relative;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #aaa;
    font-size: 12px;
    background: transparent;
    z-index: 1;
}
.categorydropdown:focus{
    outline: none;
}
.paragraphdiv{
    padding-bottom:0;
}
/*create event end*/
.categoryselect::after{
    color:#ccc;
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    top: 1.8em;
    right: 1.5em;
    font-size:21px;
    cursor:pointer;
}
.profileform .form-control{
    height:auto;
}
.createeventtextarea:focus {
    outline: none;
    border: 1px solid #000;
}
.categoryselect option.selectcat{
    color: #ccc;
}
.createeventtextarea::placeholder{
    padding-top:1em;
    padding-left: 1.1em;
}
.createeventgroup label{
    padding-left:0.5em;
    font-size: 0.9em;
}
.togglecheck{
    opacity: 0;
}
.locationbox{
    width: 17em;
}
.createventcheckboxlst{
    padding-top: 2px;
    margin-bottom: 0;
}
.eventimagediv{
    padding: 0;
}
.eventtextboxdiv{
    padding: 0;
}
.eventattendbtn {
    padding: 15px 19px;
}
.eventcustomsharedbtn {
    padding: 15px 23px;
}
.owlcarouseldiv{
    padding: 0;
}
.mapdiv{
    padding: 0;
}
.eventdatetime a{
    color: #ED202E;
    text-decoration: none;
}
.eventmoreshareicon{
    padding-top: 0.5em;
}
.operationform{
    padding: 6px 2px;
}
.operationdetail{
    float: right;
}
.day{
    padding:0;
}
.daylist{
    padding:0;
}
.operationformgroup{
    padding:0;
}
.sharenewbtndiv{
    padding-bottom: 12px;
}
.operationgroup{
    display: inline-block;
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 12px;
}
.sharenewsubtxt{
    padding-bottom:20px;
}
.allimg{
    border: 1px solid #ccc;
    border-radius: 24px;
    padding: 8px 0px;
    margin-top: 4px;
    display: inline-block;
    position: relative;
    margin-right: 4px;
    padding-right: 8px;
}
.crossing{
    padding: 0 15px;
}
.cross{
    color: #000;
    font-size: 12px;
}
.datecalender{
    width: 15em;
    position: relative;
    z-index: 1;
    background: transparent;
}
.eventstarttime{
    padding-left: 2.4em;
}
.indexformdiv{
    float:left;
    position: relative;
}
.indexformdiv a{
    color: #e21325;
    text-decoration: none;
}
.loginmyfavourite{
    padding-left: 0.8em;
}
.datetimecalender{   
    position: relative;
    z-index: 1;
    background: transparent;
    padding-left: 2.4em;
}
.acountbrowsediv{
    position: relative;
    padding-bottom: 15px;
}
.accntbrwsebtn{
    position: relative;
}
.brwsefile{
    position: absolute;
    top: 1.8em;
    left: 4.5em;
    height: 3em;
    width: 9em;
    opacity: 0;
}
.profilecancelbtn{
    background-color: #e21325;
    color: #fff;
    border: 2px solid #e21325;
    padding: 10px 33px;
    border-radius: 39px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.profilecancelbtn:hover,
.profilecancelbtn:focus{
    color: #e21325;
    background-color: #fff;
    border: 2px solid #e21325;
}
..profilecancelbtn:hover,
.profilecancelbtn:focus{
    color: #e21325;
    background-color: #fff;
    border: 2px solid #e21325;
}
.accntcancelbtn{
   margin-top: 20px;
}
