.createform{
	padding: 3em 2em;
}
.createcategory-input{
	padding: 0.7em 1.5em;
    height: auto;
}
/*admin event create form start*/
.eventdate{
	position: relative;
    background: transparent;
    z-index: 1;
}
.eventtime{
	position: relative;
    background: transparent;
    z-index: 1;
}
.admineventdate{
	position: absolute;
    top: 2.7em;
    right: 1.8em;
    bottom: 0;
}
.admineventtimer{
	position: absolute;
    top: 2.7em;
    right: 1.8em;
    bottom: 0;
}
.eventcost{
	padding-left: 0;
	padding-right: 3px;
}
.eventdiscount{
	padding-right: 0;
	padding-left: 3px;
}
.createventcheckboxlst {
    padding-top: 2px;
    margin-bottom: 0;
}
.checkboxlist {
    float: left;
    padding-left: 1.6em;
}
.createventcheckboxes {
    padding-bottom: 0;
    font-size: 1em;
    padding: 0;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 4px;
    padding-left: 0;
}
.signincheckbox {
    opacity: 0;
    position: absolute;
    height: 16px;
    width: 16px;
    z-index: 1;
}
.signincheckbox + span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 0px -4px 0;
    vertical-align: middle;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 0;
}
.signincheckbox:checked + span::after {
    content: '\f00c';
    font-family: FontAwesome;
    color: #e21325;
    font-size: 10px;
    line-height: 12px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.startdate{
	padding-left: 0;
    padding-right: 3px;
}
.enddate{
	padding-right: 0;
	padding-left: 3px;
}
.citydiv{
	padding-left: 0;
	padding-right: 3px;
}
.statediv{
	padding-left: 3px;
	padding-right: 3px;
}
.zip-div{
	padding-right: 0;
	padding-left: 3px;
}
/*for map*/
.createeventgooglemap {
    padding-top: 0;
}
.googlemaping {
    padding-top: 2em;
    padding-left: 5px;
    overflow: hidden;
}
.eventmap{
	width: 100%;
    height: 250px;
}
.createeventgroup {
    display: inline-block;
    text-align: left;
    font-size: 1em;
    height: auto;
}
.eventimagediv {
    padding: 0;
}
.upload-file-container {
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
    min-height: 43px;
    border-radius: 4px;
    padding: 1px 1px;
}
.eventbrowsefile {
    margin: 0;
    opacity: 0;
    top: 0.2em;
    position: absolute;
    z-index: 99;
    width: 5.5em;
    height: 2.9em;
}
.browsebtn {
    border-radius: 24px;
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
    padding: 8px 12px;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 2px;
}
.allimg {
    border: 1px solid #ccc;
    border-radius: 24px;
    padding: 8px 0px;
    margin-top: 4px;
    display: inline-block;
    position: relative;
    margin-right: 4px;
    padding-right: 8px;
}
.eventtextboxdiv{
	padding:0;
}
.imgbrwsebtn{
	padding-right: 0;
}
.btnimage{
	width: 100%;
}
.createeventadmin-div{
	margin-bottom:28px;
}
/*admin event create form end*/
/*admin business form start*/
.operationform {
    padding: 6px 2px;
}
.day {
    padding: 0;
}
.daylist {
    padding: 0;
}
.profileform .form-control {
    height: auto;
}
.operationgroup {
    display: inline-block;
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 12px;
}
@media (min-width: 768px){
	.operationform .operationformcontrol {
    	width: 22%;
   	}
}
/*admin business end*/