.createform{
	padding: 3em 2em;
}
.createcategory-input{
    height: 36px;
    padding: 7px;
}
/*admin event create form start*/
.eventdate{
	position: relative;
    background: transparent;
    z-index: 1;
}
.eventtime{
	position: relative;
    background: transparent;
    z-index: 1;
}
.admineventdate{
	position: absolute;
    top: 2.7em;
    right: 1.8em;
    bottom: 0;
}
.admineventtimer{
	position: absolute;
    top: 2.7em;
    right: 1.8em;
    bottom: 0;
}
.eventcost{
	padding-left: 0;
	padding-right: 3px;
}
.eventdiscount{
	padding-right: 0;
	padding-left: 3px;
}
.createventcheckboxlst {
    padding-top: 2px;
    margin-bottom: 0;
}
.checkboxlist {
    float: left;
    padding-left: 1.6em;
}
.createventcheckboxes {
    padding-bottom: 0;
    font-size: 1em;
    padding: 0;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 4px;
    padding-left: 0;
}
.signincheckbox {
    opacity: 0;
    position: absolute;
    height: 16px;
    width: 16px;
    z-index: 1;
}
.signincheckbox + span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 0px -4px 0;
    vertical-align: middle;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 0;
}
.signincheckbox:checked + span::after {
    content: '\f00c';
    font-family: FontAwesome;
    color: #e21325;
    font-size: 10px;
    line-height: 12px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.startdate{
	padding-left: 0;
    padding-right: 3px;
}
.enddate{
	padding-right: 0;
	padding-left: 3px;
}
.citydiv{
	padding-left: 0;
	padding-right: 3px;
}
.statediv{
	padding-left: 3px;
	padding-right: 3px;
}
.zip-div{
	padding-right: 0;
	padding-left: 3px;
}
/*for map*/
.createeventgooglemap {
    padding-top: 0;
}
.googlemaping {
    padding-top: 2em;
    padding-left: 5px;
    overflow: hidden;
}
.eventmap{
	width: 100%;
    height: 250px;
}
.createeventgroup {
    display: inline-block;
    text-align: left;
    font-size: 1em;
    height: auto;
}
.eventimagediv {
    padding: 0;
}
.upload-file-container {
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
    min-height: 43px;
    border-radius: 4px;
    padding: 1px 1px;
}
.eventbrowsefile {
    margin: 0;
    opacity: 0;
    top: 0.2em;
    position: absolute;
    z-index: 99;
    width: 5.5em;
    height: 2.9em;
}
.browsebtn {
    border-radius: 24px;
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
    padding: 8px 12px;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 2px;
}
.allimg {
    border: 1px solid #ccc;
    border-radius: 24px;
    padding: 8px 0px;
    margin-top: 4px;
    display: inline-block;
    position: relative;
    margin-right: 4px;
    padding-right: 8px;
}
.eventtextboxdiv{
	padding:0;
}
.imgbrwsebtn{
	padding-right: 0;
}
.btnimage{
	width: 100%;
}
.createeventadmin-div{
	margin-bottom:28px;
}
/*admin event create form end*/
/*admin business form start*/
.operationform {
    padding: 6px 2px;
}
.day {
    padding: 0;
}
.daylist {
    padding: 0;
}
.profileform .form-control {
    height: auto;
}
.operationgroup {
    display: inline-block;
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 12px;
}
@media (min-width: 768px){
	.operationform .operationformcontrol {
    	width: 22%;
   	}
}
.submit-btn{
    float: right;
}
.signup-error{
    color: red;
    font-size: 12px;
    float: left;
    margin-top: 3px;
}
.require-star::after{
    font-size: 8px;
    content: "\f069";
    font-family: FontAwesome;
    color: red;
    position: relative;
    top: -6px;
}
.tagdropdown{    
    padding: 1.2em 1em !important;    
    height: auto !important;
}
.select2-container--default .select2-selection--multiple{   
     padding: 0.4em 1.2em;
}
.profile-pic-admin{
    height: 100px !important;
}
.admin-menu-img{
    height: 45px !important;
    object-fit: cover;
}
/*admin business end*/
.picbtn {
    background-color: #fafafa;
    padding-top: 42px;
    border-bottom: 1px solid #ccc;
}
.profileimgdiv {
    float: none;
    display: inline-block;
}
.profilebrowsebtndiv {
    padding-top: 23px;
    padding-bottom: 37px;
}
.profileform {
    padding: 3em 2em;
    padding-bottom: 3em;
}
.profilegroup {
    padding-bottom: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.94em;
    margin: auto;
    float: none;
}
.profilecard {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background: #fff;
    border-radius: 6px;
}
.saveprofile {
    padding: 1em 0;
    width: 14em;
    background-color: #3c8dbc;
    color: #fff;
    border: 2px solid #3c8dbc;
    padding: 13px 33px;
    border-radius: 39px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.saveprofile:hover,
.saveprofile:focus{
    background-color: #fff;
    color: #3c8dbc;
    border: 2px solid #3c8dbc;
}
.profilebrowsebtn {
    background-color: #3c8dbc;
    color: #fff;
    border: 2px solid #3c8dbc;
    padding: 10px 33px;
    border-radius: 39px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.profilebrowsebtn:hover,
.profilebrowsebtn:focus{
    background-color: #fff;
    color: #3c8dbc;
    border: 2px solid #3c8dbc;
}
.profilegroup {
    padding-bottom: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.94em;
    margin: auto;
    float: none;
}
.profileinput {
    padding: 14px;
    background-color: #fafafa;
    height: auto;
}
.brwsefile {
    position: absolute;
    top: 1.8em;
    left: 4.5em;
    height: 3em;
    width: 9em;
    opacity: 0;
}
.personicon {
    float: none;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ccc;
    width: 108px;
    height: 108px;
    object-fit: cover;
}
.navbar-nav>.user-menu .user-image {
    object-fit: cover;
}
.profile-user-img {
    object-fit: cover;
}
.edit_image_parent_div{
    text-align: center;
}
.edit_image_div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0px 5px;
   
}
.edit-image-show-div{
    float: left;
    display: inline-block;
    /*width: 100%;*/
     position: relative;
}
.edit-image-cross i{
   position: absolute;
    top: 0;
    right: 0;
}
.admin-link-social-icon{
    
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
}
.social-facebook{
    background-color: #3B5998;
    padding: 7px 11px;
}
.social-twitter{
    background-color: #0084b4;
    padding: 7px 8px;
}
.social-linkedin{
   background-color: #0d77b7; 
   padding: 7px 9px;
}
.social-google-plus{
   background-color: #df4b37; 
   padding: 7px 5px;
}
.social-pinterest{
   background-color: #cd2029; 
   padding: 7px 9px;
}
.social-envelope{
   padding: 7px 8px;
    color: #cd2029;
    background-color: #fff;
    border: 1px solid #cd2029;
}
.info-box-text{
    font-size: 13px;
}
.signup-error{
    color: red;
    font-size: 12px;
    float: left;
    margin-top: 3px;
}
